<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rgassociates">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RGASSOCIATES">
        <activity
            android:name=".Usermodule"
            android:exported="false" />
        <activity
            android:name=".about"
            android:exported="false" />
        <activity
            android:name=".user"
            android:exported="false"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.RGASSOCIATES" />
        <activity
            android:name=".details"
            android:exported="false" />
        <activity
            android:name=".showcases"
            android:exported="false" />
        <activity android:name=".addcase" />
        <activity android:name=".MainActivity" />
        <activity android:name=".login" />
        <activity android:name=".selection" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>